# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# genkit / dev temp files
.genkit/*
.env*
.modified
.idx

# firebase
firebase-debug.log
firestore-debug.log
.firebase/
functions/.next/
functions/node_modules/
firebase-admin.json
setAdminClaim.mjs

# local editor config
.vscode/

# git repo folder (local)
dima-belle.git/
